Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

#ignore content	

/Content/StarterContent/
/Content/Megascan/
/Content/MSPresets/